[Unit]
Description=Registry for KPI
[Service]
ExecStart=/home/registry/start-server.sh
Type=simple
User=registry
Restart=always
RestartSec=3
Environment=DB_PASSWORD={{ db_password }}
[Install]
WantedBy=multi-user.target