<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facilities</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">

</head>
<body>

<section class="section">
    <div class="container">
        <table class="table" border="1px">
            <thead>
            <tr><td>Id</td><td>Name</td></tr>
            </thead>

            <tbody>
            <tr th:each="facility: ${facilities}">
                <td th:text="${facility.id}">Id</td>
                <td>
                    <a th:href="@{|/facility/${facility.id}|}"
                       th:text="${facility.name}">Name</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>