<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>

Go go register =)

<form th:action="@{/register}" th:object="${register}" method="post">
    <div>
        <label> New User Name : <input type="text" th:field="*{username}"/> </label>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
    </div>
    <div>
        <label> Password: <input type="password" th:field="*{password}"/> </label>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
    </div>
    <div><input type="submit" value="Register"/></div>
</form>

</body>
</html>